header{
    .navbar{
        background-color: #020402 !important;
        div{
            .navbar-brand{
                color: #e3f2fd;
                text-decoration: line-through;
            }
            .navbar-toggler{
                background-color: #e3f2fd;
                &:hover{
                    background-color: #e7a61a;
                }
                span{
                    
                }
            }
            div{
                ul{
                    li{
                        a{
                            color: #e3f2fd ;
                            &:hover{
                                text-decoration: underline 2px #e7a61a;
                            }
                        }
                    }
                }
            }
        }
       
    }
}